venv/
pycache/
**/__pycache__/
*.pyc
.env
.idea/
.vscode/
logs/
temp/
assets/
*.exe
*.json
*.db
data/__pycache__/__init__.cpython-314.pyc
data/__pycache__/config.cpython-314.pyc
data/__pycache__/db.cpython-314.pyc
handlers/__pycache__/__init__.cpython-314.pyc
handlers/__pycache__/admin.cpython-314.pyc
handlers/__pycache__/catalog.cpython-314.pyc
handlers/__pycache__/render.cpython-314.pyc
handlers/__pycache__/settings.cpython-314.pyc
keyboards/__pycache__/__init__.cpython-314.pyc
keyboards/__pycache__/inline.cpython-314.pyc
middlewares/__pycache__/__init__.cpython-314.pyc
middlewares/__pycache__/role_check.cpython-314.pyc
utils/__pycache__/__init__.cpython-314.pyc
utils/__pycache__/logger.cpython-314.pyc
